#title {
  color: white;
  font-size: 70px;
  padding-bottom: 1px;
  font-family: Impact;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTmglqs6nyiQu0FzCoy2d45fjO1-OG54hie1g&usqp=CAU");
}